.export-data-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    color: #FFFFFF;
    transition: all 0.2s;
    cursor: pointer;
}

.export-data-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}