.container {
    background-color: aquamarine;
    height: 84vh;
    width: 98vw;
    display: grid;
    //grid-template-rows: 100px 500px 100px;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: minmax(100px, auto);
}

.uploadPanel {
    background-color: orchid;
    grid-row: 1/2;
}

.inspectionPanel {
    background-color: goldenrod;
    grid-row: 1/3;
}

.actionPanel {
    background-color: gray;
    grid-row: 2/3;
}