.container {
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 200px 500px;
}

.leftPanel {
    background-color: orchid;
}

.rightPanel {
    background-color: goldenrod;
}

.bottomPanel {
    background-color: gray;
}